@import '../../../../../styles/colors.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
  font-size: 1.2rem;
  transition: 0.2s;
  border-right: 1px solid $color--sidebar-border;
  background-color: $color--sidebar-background;

  &_hidden {
    left: -15rem;
  }

  &__header {
    display: flex;
    box-sizing: border-box;
    min-height: 8rem;
    padding: 1.5rem;
    color: $color--header-text;
    background-color: $color--header-background;

    .header__close-button {
      display: block;
      margin: 0 0 auto auto;

      .close-button-icon {
        height: 1.2rem;
      }
    }
  }

  &__links-list {
    padding: 1.5rem;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;

    .links-list__item {
      margin-bottom: 0.5rem;

      .link {
        text-decoration: none;
        color: $color--sidebar-text;

        &:hover,
        &:focus {
          text-decoration: underline;
        }

        &__icon {
          height: 1.2rem;
          margin: auto 0.5rem auto auto;
        }
      }
    }
  }
}
