.card {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.card_more-info {
  flex-direction: row-reverse;
  box-shadow: 0 1px 1px 1px rgb(201, 201, 201);
}

.card-body {
  color: white;
  background-color: darkgrey;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.card-body_more {
  color: black;
  background-color: inherit;
}

.card__image {
  display: block;
  width: 4rem;
  max-height: auto;
  margin: auto;
}
