@import '../../../../../shared/styles/colors.scss';

.property-section {
  max-width: 20rem;

  .beer-property {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .property {
    &__info {
      display: inline-block;
      height: 1rem;
      margin: 0 0.7rem;
    }

    &__value {
      font-size: 0.9rem;
      display: inline-block;
      width: fit-content;
      padding: 0.1rem 0.5rem;
      border-radius: 1rem;
      background-color: $color--property-value-background;
      color: $color--property-value-text;
    }
  }
}
