.property-section {
  max-width: 25rem;

  .beer-property {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .property__info {
    display: inline-block;
    height: 1rem;
    margin: 0 0.7rem;
  }
}
