$white: white;
$black: black;
$gray: rgb(145, 145, 145);
$light-gray: rgb(235, 235, 235);
$blue: #106cc8;
$dark-blue: #0e5297;

$color--main-text: $white;
$color--secondary-text: $black;
$color--background: $gray;
$color--title-background: $blue;
$color--background-hover: $light-gray;
$color--link: $dark-blue;

/* button */
$color--button-text: $color--main-text;
$color--button-text-hover: $color--secondary-text;
$color--button-hover: $color--background-hover;
$color--button--bright-background: $color--title-background;
$color--button--bright-hover: $color--link;

/* input */
$color--input-text: $color--background;

/* header */
$color--header-text: $color--main-text;
$color--header-background: $color--title-background;
$color--sidebar-background: $color--main-text;
$color--sidebar-text: $color--secondary-text;
$color--sidebar-border: $color--background;
$color--info-menu-text: $color--secondary-text;
$color--info-menu-text-active: $color--main-text;

/* beer card */
$color--card-text: $color--main-text;
$color--card-background: $color--background;
$color--card-shadow: $color--background-hover;
$color--card-dark-text: $color--secondary-text;

/* filter */
$color--slider: $color--title-background;

/* pagination */
$color--pagination-text: $color--title-background;
$color--pagination-active: $color--background-hover;
$color--pagination-border: $color--background;

/* section */
$color--section-border: $color--background;

/* propperty/section */
$color--property-value-background: $color--background;
$color--property-value-text: $color--main-text;

/* tooltip */
$color--tooltip-background: $color--background-hover;
$color--tooltip-text: $color--secondary-text;
$color--tooltip-shadow: $color--background;
