@import '../../../styles/colors.scss';

.card {
  display: flex;
  flex-direction: column;

  &_more-info {
    flex-direction: row-reverse;
    box-shadow: 0 1px 1px 1px $color--card-background;
  }

  &__body {
    color: $color--card-text;
    background-color: $color--card-background;
    padding: 0.5rem;

    &_transparent {
      color: $color--card-dark-text;
      background-color: inherit;
    }
  }

  &__image {
    margin: auto;
    padding: 1rem 0;
    width: 4rem;
    height: auto;
  }
}
